h1{
color: rgba(255, 0, 144, 0.411);
background-color: black;
font-size:80px;
font-weight: 600;
text-align: center;
border: 10px solid rgba(255, 0, 144, 0.411) ;
border-radius: 40px;
}
body{
background-color:rgb(42, 42, 42);
}
h2{color: rgba(226, 43, 98, 0.633);}
p{color: rgba(246, 18, 18, 0.14);}
img{
width:1800px ;
}